@media screen and (max-width: 650px) {
    header{
        position: relative;
    }
    
    header .logo .fa-bars{
        display: none;
    }

    .icons > span:nth-child(1) {
        margin-right: 0;
    }


    .logo a {
        padding-left: 0;
    }

    .sidebar{
        display: none;
    }
    .search-bar{
        display: none;
    }

    .option-bar{
        position: relative;
        width: 100vw;
        overflow-x: scroll;
    }


    main{
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
    }


    .content {
        margin-top: 1%;
    }

    .option-liste li {
        background-color: #dddddd52;
        padding: 2px 5px;
        border-radius: 10px;
        font-size: 13px;
        margin-right: 5%;
    }
    .option-liste {
        padding-left: 1%;
    }

    .grille{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 15px;
        margin-left: 0;
        margin-top: 6%;
    }

    .image1 img{
        width: 100%;
    }

    .ava img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: 23px;
        margin-right: 8px;
    }

    .grille h5{
        margin-left: 13%;
        margin-top: 0;
    }


    .grille p{
        margin-top: 0;
        font-size: 13px;
        margin-left: 4%;
    }
    .grille .vue{
        display: flex;
        margin-top: -13px;
        margin-left: 0;
    }

    .grille .image1{
        margin-bottom: 10%;
    }
}


@media screen and (max-width: 1130px) and (min-width: 651px){
    header{
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 1% 2%;
        position: fixed;
        width: 100vw;
        z-index: 10;
    }

    .fa-bars {
        margin-top: -6px;
    }   


    .search-bar{
        display: flex;
        width: 45%;
    }

    form{
        width: 100%;
        display: flex;
    }

    .icons{
        display: flex;
        margin-right: 6%;
    }


    /*------ Partie Sidebar ----------*/
    .sidebar {
        width: 20%;
        margin-top: 6%;
    }

    .accueil-liste {
        padding-left: 15px;
    }


    .biblio-liste {
        padding-left: 15px;
    }
    
    .abonnement-liste {
        padding-left: 30px;
    }

    .autre img{
        margin-left: 0;
    }
    
    .explorer-liste {
        padding-left: 15px;
    }
    
    .parametre-liste {
        padding-left: 15px;
    }


    .copyright{
        margin-bottom: 40%;
    }


    .content{
        margin-top: 6%;
    }
    /*-------- Option bar -------*/

    .option-bar{
        background-color: white;
        position: fixed;
        width: 80%;
        overflow-x: scroll;
        margin-top: 1%;
    }

    .option-liste{
        padding-left: 20px;
    }

    .option-liste li{
        margin-right: 3%;
        padding: 10px 26px 0px 26px;
    }

    /*---- Partie grille ------*/
    .grille {
        grid-template-columns: 1fr 1fr;
        column-gap: 4%;
        margin-top: 20%;
    }

    .image img {
        width: 99%;
    }

    .grille img{
        margin-left: 1%;
    }

    .ava img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: 23px;
        margin-right: 8px;
    }

}